<b> Produkt <%= @product.name %> </b>
<ul>
  <li> Price: <%= @product.price / 100.0 %> </li>
  <li> Description: <%= @product.description %> </li>
</ul>

<p><%= link_to 'Powrót', :back %></p>
<p><%= link_to 'Strona główna', :root %></p>